.vscode/
.Ds_Store
#lab_css112
lab2.1
lab2.2
lab2.3
3.1
3.2
3.3
lab4.1
lab4.1.2
lab4.2
lab4.3
test
lab5.2
lab5.1
5.3
#learn_week6
week6/sum_column
week6/sort_data
week6/tempCodeRunnerFile.c
week6/search
week6/flag
week6/fibonacci
#learn_week5
week5/bit_arrays
week5/max_maxtrix
week5/count_word
week5/read_number
#learn_week7 
week7/matrix_diagonal
week7/matrix_nByn 
week7/sort_cha
week7/read_number
week7/clone_cutChar
css121_practice/lab2/tempCodeRunnerFile
week7/clone_sort
week7/clone_cutChar
week7/matrix_call
